*
{
    font-family: lato;
}
div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div label
{
    width: 500px;
    margin-top: 10px;
    display: block;
    font-size: 17px;
    font-weight: 600;
}
label input
{
    width: 500px;
    padding:10px 20px;
    border:none;
    background-color: whitesmoke;
    outline: none;
    margin-top: 5px;
}
form #submit
{
    background-color: whitesmoke;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 20px;
    border:none;

}
#select
{
    width: 200px;
    padding:10px 20px;
}
